body{
	background-image: url(css/eat.gif);

}
img {
  border-radius: 50%;
}


div.e:hover{

  background-color: yellow;
  width:300px

}



div.c{
 text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}
div.b {
  margin: 30px;
  background-color: #ffffff;
  border: 1px solid black;
  opacity: 0.6;
  filter: alpha(opacity=60); /* For IE8 and earlier */
  width: 400px;
  position: center;
  text-shadow: 2px 2px 5px red;
  


}
div.a {
	font-size: 30px;
	font-family: "Lucida console";
  	color: #fff;
  	text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

}

</style>